
services:
  backend:
    build: .
    container_name: Portfolio-ChatBot
    ports:  
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - redis
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  redis:
    image: redis:7
    container_name: portfoliochatbot_redis
    ports:
      - "6379:6379"
    restart: always
