# Server
fastapi
uvicorn
anyio

# Database
sqlalchemy
psycopg2-binary

# Auth & Security
python-jose
passlib[argon2]
argon2-cffi
python-dotenv
resend
redis>=5.0.0

# Validation
pydantic[email]>=2.7.4,<3.0.0

# LangChain
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-pinecone
langchain-huggingface

# Vector DB
pinecone[grpc]==7.3.0

# LLM API
groq==0.13.0

# Embeddings
huggingface-hub>=0.19.0
sentence-transformers>=2.2.0
